.linkImg{
    width: 25%;
    height: 25%;
    float: left;
}

.linkTitle{
    text-align: left;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 10%;
    margin-bottom: 5%;
    overflow-wrap: break-word
}

.linkYMD{
    text-align: right;
}